.reg-form-page{
    .reg-form{
        width: 400px;
        margin: 100px auto;
        .mat-form-field{
            width:350px !important;
         }
         .link-text{
            padding: 15px 0px;
            p{
                text-transform: capitalize;
            }
         }
         .example-container{
            position: relative;
         }
         .error{
            color: red;
            position: absolute;
            left: 0;
            top: 55px;
            font-size: 11px;
         }
         .btn{
            margin-top: 15px;
         }
    }
}