<div class="about-table">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> sn_No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Emp_Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
     
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Emp_Age</th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>Emp_City</th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Emp_Phone</th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary">edit</button>
                <button mat-raised-button color="warn">delete</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
